.page-widgets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  &__list {
    width: 282px;
    margin: auto;
    gap: 20px 17px;
  }
  &__title {
    color: white;
    font-size: 25px;
  }
  &__subtitle {
    color: white;
  }
}
@media screen and (max-width: 500px) {
  .page-widgets {
    width: 88.125%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
